############
#  Tables  #
############

snippet table "Table"
${1:First Header}   | ${6:First Header}
--------------------|--------------------
${2:Content Cell}   | ${7:Content Cell}
${3:Content Cell}   | ${8:Content Cell}
${4:Content Cell}   | ${9:Content Cell}
${5:Content Cell}   | ${10:Content Cell}
$0
endsnippet
