snippet tnd_rh "tornado request handler" b
class $1Handler(RequestHandler):
    def get(self):
        $2

endsnippet

snippet openfile "open file to read" b
with open($1) as f:
    for line in f:
        $2

endsnippet


snippet mapsort "map sort" b
$1 = sorted($2.iteritems(), key=lambda d:d[1], reverse = True)
endsnippet

snippet who "who am i" b
__author__ = "huangchao"
__email__ = "chaohuang@didiglobal.com"
endsnippet

