snippet tnd_rh "tornado request handler" b
class $1Handler(RequestHandler):
    def get(self):
        $2

endsnippet

snippet mapsort "map sort" b
$1 = sorted($2.iteritems(), key=lambda d:d[1], reverse = True)
endsnippet

